Create a new Jupyter notebook called DataScienceEcosystem.ipynb

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. GGplot
2. Pandas
3. NumPy
4. Seaborn
5. Scikit-learn
6. Pytorchta

|Data Science Tools|
|------------------|
|Hadoop            |
|My SQL            |
|Hive              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

convert=60
minutes=200 
hours=minutes/convert
print(hours)

3.3333333333333335

**Objectives**
- DS Languages
- Create arithmetic expressions
- import libraries such as pandas and numpy

## Author
Trinidad Frigerio